*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../img/approach-5159905.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    padding-bottom: 10rem;
    min-height: 100vh;
    min-width: 100vh;

}

#titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    color: rgba(211, 191, 191, 0.63);
    text-align: center;
    padding-top: 2rem;
}

header {
    background: linear-gradient(to right, #000000, #434343);
    width: 100%;
    height: 9rem;
}

/*Menú navegación*/

nav {
    text-align: right;
}
nav a{
    padding-left: 2rem;
    padding-right: 2rem;
    color: wheat;
    text-decoration: none;
    font-size: 1.2rem;
    display: inline;
}
nav a:hover {
    background-color: #000000;
    color: wheat;
}

/*Tarjeta*/

.tarjeta {
    width: 30rem;
    height: 20rem;
    padding: 1.8rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.76);
    margin: 7rem auto;
}

.tarjeta h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0rem;
    padding: 0;
    color: wheat;
}

.formulario .elemento label{
    color: wheat;
    font-size: 1.2rem;
    margin-bottom: .3rem;
}
.formulario .elemento input {
    width: 100%;
    padding: .2rem;
    margin-top: rem;
    margin-bottom: rem;
    background-color: #43434381;
    border: none;
    border-bottom: 1px solid rgba(245, 222, 179, 0.336);
}

.formulario .elemento input[type="submit"]{
    background-color: wheat;
    border-bottom: none;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: large;
    border-radius: 50rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: .2rem;
}

.formulario .elemento input:hover[type="submit"]{
    background-color: #434343;
}

.formulario .elemento input[type="checkbox"]{
    width: 10%;
}

.label-check {
    margin-top: 1.2rem;
}

#submit {
    margin-top: 4rem;
}

/*----Pagina Contacto----*/

.tarjeta-texto{
    width: 40rem;
    height: 30rem;
    padding: 1.8rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.76);
    margin: 7rem auto;
    color: wheat;
}

.contacto-titulo {
    text-align: center;
}

#texto {
    color: wheat;
    background-color: #43434381;
    width: 100%;
    margin-top: 0;
    padding: .5em;
}

#etiqueta-mensaje {
    color: wheat;
    font-size: 1.2rem;
    margin-top: 2rem;
}

/*---Footer---*/

footer{
    background: linear-gradient(to right, #000000, #434343);
    padding: 1.3rem 0 0 1rem;
    margin: auto;
    overflow: hidden;
    margin-top: 10rem;
    height: 4rem;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.contenedor-footer {
    font-size: 1.1em;
    font-family: 'Courier New', Courier, monospace;
    color: wheat;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 0;
    margin-bottom: 0;

}

footer p{
    margin: 0 ;
    padding: 0;
}

.elemento-footer a {
    text-decoration: none;
    color: wheat;
}

.elemento-footer a:hover {
    color: black;
}

/*---Carousel---*/

 .carousel-inner img {
    height: 16em;
    border-radius: 1.5em;
  }
  .carousel {
      max-width: 40em;
      max-height: 300px;
      margin: 0 auto;
  }

  .texto-carousel {
      color: wheat;
      font-weight: bolder;
      text-shadow: 1px 1px 2px black;
    }


@media screen and (min-width: 250px) {
    
    /*Menú navegación*/

nav a{
    padding-left: 1rem;
    padding-right: 1rem;
}   

/*---carousel---*/
.carousel {
    max-width: 29em;
}

/*----Pagina Contacto----*/

.tarjeta {
    width: 28rem;
    height: 20rem;
    padding: 1.8rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.76);
    margin: 7rem auto;
}

}